@import settings.sass
@import fonts.sass
// @import customBootstrap.sass
@import container.sass

html
  scroll-behavior: smooth
  // background: rgb(213,202,189)
  // background: linear-gradient(0deg, rgba(213,202,189,1) 0%, rgba(255,255,255,1) 100%)
  // // background-repeat: no-repeat


*, ::before, ::after
  box-sizing: border-box 

body
  margin: 0
  font-family: $l
  background-color: $light
  padding-right: 0 !important
  overflow: auto !important

ul 
  list-style: none